.card {
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  border-radius: 12px;
  padding: 32px;
  margin: 48px 0 24px 0;
  .meta {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 50px;
      margin: 0 0 32px 0;
    }
    p {
      font-size: 1.1rem;
      margin: 24px 0 0 0;
    }
    a {
      color: #000;
      font-size: 1.1rem;
      margin: 32px 0 0 0;
      text-decoration: none;
      transition: color 0.3s ease;
      width: fit-content;
    }
    a:hover {
      color: rgb(255, 160, 40);
    }
  }
  .visuals {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 32px 0 0 0;
    img {
      align-self: flex-start;
    }
  }
}

@media only screen and (min-width: 992px) {
  .card {
    flex-direction: row;
    margin: 24px 0;
    .meta {
    }
    .visuals {
      margin: unset;
    }
  }
}

[data-theme="dark"] {
  .card {
    background: #1c1d1f;
    color: #fff;
    .meta {
      a {
        color: #fff;
      }
      a:hover {
        color: rgb(255, 160, 40);
      }
    }
  }
  @media only screen and (min-width: 992px) {
    .card {
      background: rgba(0, 0, 0, 0.7);
    }
  }
}
