.footer {
  font-weight: 500;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  a:hover {
    color: rgb(255, 160, 40);
  }
  div {
    padding: 0 0 16px 0;
    p {
      text-align: center;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    div {
      text-align: center;
      font-size: 1.15rem;
      ul {
        margin: 8px 0 0 0;
        li {
          padding: 4px 0;
        }
      }
    }
  }
}

.title {
  font-size: 1rem;
}

@media only screen and (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: column;
    div {
      padding: 0 0 16px 0;
      p {
        text-align: center;
      }
    }
    .content {
      display: flex;
      flex-direction: unset;
      justify-content: center;
      div {
        width: 240px;
        margin: 24px 0 0 0;
        text-align: center;
        font-size: unset;
        ul {
          margin: 8px 0 0 0;
          li {
            padding: unset;
          }
        }
      }
    }
  }
}

[data-theme="dark"] {
  .footer {
    a {
      color: #fff;
    }
    a:hover {
      // color: #ff6633;
      color: rgb(255, 160, 40);
    }
  }
}
