@media only screen and (max-width: 768px) {
  nav.navigationBarLeft {
    display: none;
  }
  nav.navigationBar {
    display: none;
  }
  button.burgerMenu {
    margin: 32px 0 0 0px;
    font-size: 32px;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    background: none;
    display: block;
    padding: 32px 32px 32px 40px;
  }
  nav.navigationBarMobile {
    margin: 0 0 0 40px;
    ul > li {
      padding: 24px 0 0 0;
      a {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  button.burgerMenu {
    display: none;
  }

  header.mobileNav > nav.navigationBarMobile {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: 56px;
    justify-content: space-between;
    padding: 16px 64px;
    position: sticky;
    top: 0;
    transition-property: background, box-shadow;
    transition-duration: 0.45s;
    z-index: 999;
    a {
      color: #000;
      font-weight: 500;
      text-decoration: none;
      padding: 8px;
      border-radius: 4px;
      transition: background 0.3s ease;
    }
    a:hover {
      // background: rgba(255, 102, 51, 0.3);
      background: rgba(255, 160, 40, 0.5);
      border-radius: 4px;
    }
  }

  .navigationBarLeft {
    display: unset;
  }

  .navigationBar {
    display: unset;
    ul {
      display: flex;
      list-style-type: none;
      li {
        padding-right: 24px;
      }
    }
  }
}

.glassyHeader {
  @extend .header;

  background: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  @supports (backdrop-filter: blur(12px)) {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
  }
}

[data-theme="dark"] {
  .header a {
    color: #fff;
  }

  .glassyHeader {
    @extend .header;

    background: rgba(0, 0, 0, 1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    @supports (backdrop-filter: blur(12px)) {
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(12px);
    }
  }
}
