.header {
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: space-between;
  padding: 16px 64px;
  position: sticky;
  top: 0;
  // text-transform: uppercase;
  transition-property: background, box-shadow;
  transition-duration: 0.45s;
  z-index: 999;
}
.header a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  padding: 8px;
}

.header a:hover {
  background: rgba(255, 102, 51, 0.3);
  border-radius: 4px;
}
.glassyHeader {
  @extend .header;

  // a:hover {
  //   text-decoration: underline;
  // }

  background: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  @supports (backdrop-filter: blur(12px)) {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
  }
}

.navigationBar {
  ul {
    display: flex;
    list-style-type: none;
    li {
      padding-right: 24px;
    }
  }
}

[data-theme="dark"] {
  .header a {
    color: #fff;
  }

  .glassyHeader {
    @extend .header;

    background: rgba(0, 0, 0, 1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    @supports (backdrop-filter: blur(12px)) {
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(12px);
    }
  }
}
