.work {
  padding: 64px 0 0 0;
  height: auto;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 40px;
    .logoStyle {
      display: flex;
      justify-content: center;
    }
    .tag {
      border-top: 1px #000000 solid;
      border-bottom: 1px #000000 solid;
      font-size: 1.2rem;
      margin: 24px 0 0 0;
      padding: 24px 0;
      p {
        margin: 16px 0 0 0;
      }
      p:first-child {
        margin: unset;
      }
    }
    .date {
      display: inline-block;
      text-transform: uppercase;
      font-family: "DM Mono", monospace;
      font-size: 0.75rem;
      padding: 24px 0 0 0;
    }
    .shortDescription {
      font-size: 1.1rem;
      line-height: 1.6rem;
      padding: 24px 0;
      p:last-child {
        padding: 16px 0 0 0;
      }
    }

    .buttons {
      display: unset;
    }
    a.secondary {
      margin: 16px 0;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border: 1px solid rgb(0, 0, 0);
      transition: background 0.3s ease;

      width: 100%;
      max-width: 375px;
      height: 56px;

      font-size: 1rem;
      font-weight: 700;
      color: inherit;
      text-decoration: none;
    }

    .secondary:active,
    .secondary:hover {
      background: rgb(142, 88, 22);
      border: 1px solid rgb(142, 88, 22);
      cursor: pointer;
      color: rgb(250, 250, 250);
    }
  }
}

.visuals {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  img {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    // background: conic-gradient(
    //   from 220deg at 51% 52%,
    //   #e2a634 0deg,
    //   #d86b34 40deg,
    //   #a6529a 80deg,
    //   #c1363f 160deg,
    //   #475a95 240deg,
    //   #645ca3 320deg
    // );
    background: conic-gradient(
      from 220deg at 51% 52%,
      #f4e9aa 0deg,
      #fdad4b 40deg,
      #f95f77 80deg,
      #f8b0c0 160deg,
      #b467e2 240deg,
      #4c9bf6 320deg
    );
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(16px);
  }
}

@media only screen and (min-width: 992px) {
  .work {
    min-height: 800px;
    margin: 32px 64px;
    .content {
      flex-direction: row;
      justify-content: unset;
      padding: unset;
      .meta,
      .visuals {
        flex-grow: 1;
      }
      .logoStyle {
        display: unset;
        margin-left: unset;
        margin-right: unset;
        width: unset;
      }
      .tag {
        width: 40ch;
        font-size: 1.25rem;
        padding: 24px 0;
      }
      .date {
        font-size: 0.8rem;
      }
      .shortDescription {
        font-size: 1.25rem;
        width: 48ch;
        padding: 24px 0;
      }
      .buttons {
        display: grid;
        grid-template-columns: 305px 305px;
        column-gap: 32px;
      }
      a.secondary {
        width: fit-content;
        padding: 0 32px;
      }
    }
  }
  .visuals {
    margin-top: unset;
    margin-left: unset;
    margin-right: unset;
    padding: 32px 0 0 0;
    img {
      transform: perspective(1500px) rotateY(-15deg);
      border-radius: 1rem;

      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      transition: transform 1s ease 0s;

      &:hover {
        transform: perspective(3000px) rotateY(5deg);
      }
    }
    &:before {
      content: "";
      position: unset;
      top: unset;
      left: unset;
      background: unset;
      z-index: unset;
      width: unset;
      height: unset;
      filter: unset;
    }
  }
}

[data-theme="dark"] {
  .work {
    .content {
      .tag {
        border-top: 1px #888f96 solid;
        border-bottom: 1px #888f96 solid;
        color: #ffffff;
      }
      .link {
        color: #ffffff;
        transition: color 0.3s ease;
      }
      .link:hover {
        color: #000000;
      }
      svg {
        fill: #888f96;
      }
      .secondary {
        border: 1px solid rgb(142, 88, 22);
        color: rgb(250, 250, 250);
      }
    }
  }
  .visuals {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    img {
    }
    &:before {
      background: conic-gradient(
        from 220deg at 51% 52%,
        #ffba3a 0deg,
        #ff7d3c 40deg,
        #ff7ceb 80deg,
        #ff4753 160deg,
        #8da9ff 240deg,
        #a99eff 320deg
      );
    }
  }
}

@media only screen and (min-width: 992px) {
  [data-theme="dark"] {
    .work {
      .content {
        .link {
          color: #ffffff;
          // transition: color 0.3s ease;
        }
        .link:hover {
          color: #0c0c0c;
        }
      }
    }
  }
}
