.work {
  // height: -webkit-fill-available;
  padding: 64px 0 0 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 40px;
    .logoStyle {
      display: flex;
      justify-content: center;
      // margin-left: auto;
      // margin-right: auto;
      // width: 50%;
    }
    .tag {
      border-top: 1px #000000 solid;
      border-bottom: 1px #000000 solid;
      font-size: 1.5rem;
      margin: 24px 0 0 0;
      padding: 24px 0;
    }
    .date {
      text-transform: uppercase;
      font-family: "DM Mono", monospace;
      font-size: 1rem;
      padding: 24px 0 0 0;
    }
    .shortDescription {
      font-size: 1.75rem;
      padding: 24px 0;
      p:last-child {
        padding: 16px 0 0 0;
      }
    }
  }
}

.visuals {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  // width: 50%;
  img {
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}

@media (min-width: 992px) {
  .work {
    height: 800px;
    margin: 32px 64px;
    .content {
      flex-direction: row;
      justify-content: unset;
      padding: unset;
      .meta,
      .visuals {
        flex-grow: 1;
      }
      .logoStyle {
        display: unset;
        margin-left: unset;
        margin-right: unset;
        width: unset;
      }
      .tag {
        width: 40ch;
        font-size: 1.25rem;
        // margin: 24px 0 0 0;
        padding: 24px 0;
      }
      .date {
        font-size: 0.8rem;
      }
      .shortDescription {
        font-size: 1.25rem;
        width: 48ch;
        padding: 24px 0;
      }
    }
  }
  .visuals {
    margin-top: unset;
    margin-left: unset;
    margin-right: unset;
    padding: 32px 0 0 0;
    img {
      transform: perspective(1500px) rotateY(-15deg);
      border-radius: 1rem;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      transition: transform 1s ease 0s;

      &:hover {
        transform: perspective(3000px) rotateY(5deg);
      }
    }
  }
}

[data-theme="dark"] {
  .work {
    .content {
      .tag {
        border-top: 1px #888f96 solid;
        border-bottom: 1px #888f96 solid;
        color: #ffffff;
      }
      svg {
        fill: #888f96;
      }
    }
  }
}
