// variables
$gradientLinear: linear-gradient(
  45deg,
  #e2a634,
  #d86b34,
  #c1363f,
  #a6529a,
  #645ca3,
  #475a95
);

$gradient: conic-gradient(
  at 45% 70%,
  #ce8700,
  #d86b34 20%,
  #c1363f 30%,
  #9834ca 70%,
  #ce8700 80%
);

// animations
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes rotate-hue {
  from {
    filter: blur(5px) hue-rotate(-30deg);
    -webkit-filter: blur(5px) hue-rotate(-30deg);
  }
  to {
    filter: blur(5px) hue-rotate(0deg);
    -webkit-filter: blur(5px) hue-rotate(0deg);
  }
}

// page basics
.pageContainer {
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  padding-bottom: 2.5rem; /* Footer height */
}

// styles
.hero {
  margin: -56px 0 0 0;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
}
.heroBackground {
  display: block;
  position: absolute;
  z-index: -1;
  animation: bg-animation 60s ease-in-out infinite;
  animation-direction: alternate;
  background-image: $gradientLinear;
  background-size: 400%;
  width: 100%;
  height: 100%;
}
.heroContent {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
  padding: 80px 0 0 0;
  // width: 50%;
  // z-index: 900;
  p {
    font-size: 1.25rem;
    padding: 24px 0 0 0;
  }
  h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

@media (min-width: 992px) {
  .hero {
    border-radius: 0 0 40px 40px;
    margin: -56px 32px 0 32px;
    min-height: 75vh;
    overflow: hidden;
    position: relative;
  }
  .heroBackground {
    display: block;
    position: absolute;
    z-index: -1;
    animation: rotate-hue 60s ease-in-out infinite;
    animation-direction: alternate;
    background-image: $gradient;
    background-size: unset;
    width: 100%;
    height: 100%;
  }
  .heroContent {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    padding: 80px 0 0 0;
    width: 50%;
    z-index: 900;
    p {
      font-size: 1.25rem;
      padding: 24px 0 0 0;
    }
    h1 {
      font-family: "DM Sans", sans-serif;
      font-size: 5rem;
      font-weight: 700;
      // margin-block-start: 0em;
      // margin-block-end: 0em;
      // margin-inline-start: 0px;
      // margin-inline-end: 0px;
    }
  }
}
