.contentWrap {
  margin: 16px 40px 0;
  width: auto;
  .note {
    display: flex;
    flex-direction: column;
    border-bottom: 1px #888f96 solid;
    .meta {
      flex: 1;
      a {
        color: rgb(255, 160, 40);
        text-decoration: none;
      }
      h4.title {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 8px;
      }
      .excerpt {
        font-size: 1.1rem;
      }
      .publishedDate {
        font-family: "DM Mono", monospace;
        font-size: 0.75rem;
        margin: 8px 0 24px 0;
      }
    }
    .visuals {
      flex: 1;
      display: flex;
      justify-content: center;
      img {
        align-self: flex-start;
        margin: 0 0 24px 0;
        object-fit: contain;
      }
    }
  }
  div.note:last-of-type {
    border: unset;
  }
  h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  p.tag {
    font-size: 1.8rem;
    padding: 8px 0 0 0;
    margin: 0 0 32px 0;
  }
}

@media only screen and (min-width: 992px) {
  .pageContainer {
    display: flex;
    justify-content: center;
    .contentWrap {
      width: 640px;
      .note {
        border-bottom: unset;
        .meta {
          margin: 16px 0 0 0;
          font-size: unset;
          padding: unset;
          h4.title {
            margin-bottom: 4px;
          }
          .excerpt {
            font-size: 1.1rem;
          }
          .publishedDate {
            font-size: 0.8rem;
          }
        }
        .visuals {
        }
      }

      h1 {
        // font-size: unset;
        text-align: center;
      }
      p.tag {
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }
}

[data-theme="dark"] {
  .contentWrap {
    h1,
    p.tag {
      color: rgb(255, 255, 255);
    }
  }
}
