.contentWrap {
  div {
    border-bottom: 1px #888f96 solid;
    margin: 16px 16px 0 16px;
    font-size: 1.4rem;
    padding: 0 8px 16px 8px;
    a {
      color: #ff6633;
      text-decoration: none;
      font-weight: 700;
    }
  }
  h2,
  .tag {
    text-align: center;
  }
  .tag {
    font-size: 1.4rem;
    margin: 0 0 32px 0;
  }
  .title {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }
  .publishedDate {
    font-family: "DM Mono", monospace;
    font-size: 1.1rem;
    margin: 8px 0;
  }
  width: auto;
}
@media (min-width: 992px) {
  .pageContainer {
    display: flex;
    justify-content: center;
    .contentWrap {
      div {
        border-bottom: unset;
        margin: 16px 0 0 0;
        font-size: unset;
        padding: unset;
      }
      .title {
        font-size: unset;
        margin-bottom: 4px;
      }
      .publishedDate {
        font-size: unset;
        margin: 4px 0 0 0;
      }
      width: 640px;
    }
  }
}
