.pageContainer {
  display: flex;
  justify-content: center;
  .contentWrap {
    div {
      margin: 16px 0 0 0;
      a {
        // color: #f38020;
        color: #ff6633;
        text-decoration: none;
        // font-size: 1.15rem;
        font-weight: 700;
      }
    }
    h2,
    .tag {
      text-align: center;
      // font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      //   Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    }
    .title {
      margin-bottom: 4px;
      // border: 1px solid green;
    }
    .publishedDate {
      font-family: "DM Mono", monospace;
      // font-size: 1rem;
      // border: 1px green solid;
      margin-top: 4px;
    }
    width: 640px;
  }
}
